<div
  class="global-map-area section parallax"
  data-stellar-background-ratio="0.5"
>
  <div class="container description">
    <h1 class="text-center box">Why Travelo</h1>
    <div class="row">
      <div class="col-xs-6 col-sm-3">
        <div
          class="icon-box style8 animated"
          data-animation-type="slideInUp"
          data-animation-delay="0"
        >
          <i class="soap-icon-hotel"></i>
          <h4 class="box-title">135,000+ Hotels</h4>
          <p class="description">
            Lorem Ipsum is simply dummy text of the printing and typesetting
            industry.
          </p>
        </div>
      </div>
      <div class="col-xs-6 col-sm-3">
        <div
          class="icon-box style8 animated"
          data-animation-type="slideInUp"
          data-animation-delay="0.6"
        >
          <i class="soap-icon-insurance"></i>
          <h4 class="box-title">Low Rates &amp; Top Savings</h4>
          <p class="description">
            Lorem Ipsum is simply dummy text of the printing and typesetting
            industry.
          </p>
        </div>
      </div>
      <div class="col-xs-6 col-sm-3">
        <div
          class="icon-box style8 animated"
          data-animation-type="slideInUp"
          data-animation-delay="0.9"
        >
          <i class="soap-icon-star-1"></i>
          <h4 class="box-title">Reviewed by Real Travellers</h4>
          <p class="description">
            Lorem Ipsum is simply dummy text of the printing and typesetting
            industry.
          </p>
        </div>
      </div>
      <div class="col-xs-6 col-sm-3">
        <div
          class="icon-box style8 animated"
          data-animation-type="slideInUp"
          data-animation-delay="1.2"
        >
          <i class="soap-icon-support"></i>
          <h4 class="box-title">We Speak your Language</h4>
          <p class="description">
            Lorem Ipsum is simply dummy text of the printing and typesetting
            industry.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
