<div class="search-box-wrapper">
  <div class="search-box container">
    <ul class="search-tabs clearfix">
      <li class="active"><a href="#hotels-tab" data-toggle="tab">HOTELS</a></li>
    </ul>
    <div class="visible-mobile">
      <ul id="mobile-search-tabs" class="search-tabs clearfix">
        <li class="active"><a href="#hotels-tab">HOTELS</a></li>
      </ul>
    </div>

    <div class="search-tab-content">
      <div class="tab-pane fade active in" id="hotels-tab">
        <form action="hotel-list-view.html" method="post">
          <div class="row">
            <div class="form-group col-sm-6 col-md-4">
              <h4 class="title">Where</h4>
              <label>Your Destination</label>
              <input
                type="text"
                class="input-text full-width"
                placeholder="enter a destination or hotel name"
              />
            </div>

            <div class="form-group col-sm-6 col-md-6">
              <h4 class="title">When</h4>
              <div class="row">
                <div class="col-xs-6">
                  <label>Check In</label>
                  <div class="datepicker-wrap">
                    <input
                      type="text"
                      name="date_from"
                      class="input-text full-width"
                      placeholder="mm/dd/yy"
                    />
                  </div>
                </div>
                <div class="col-xs-6">
                  <label>Check Out</label>
                  <div class="datepicker-wrap">
                    <input
                      type="text"
                      name="date_to"
                      class="input-text full-width"
                      placeholder="mm/dd/yy"
                    />
                  </div>
                </div>
              </div>
            </div>

            <div class="form-group col-sm-6 col-md-2 fixheight">
              <label class="hidden-xs">&nbsp;</label>
              <button
                type="submit"
                class="full-width icon-check animated"
                data-animation-type="bounce"
                data-animation-duration="1"
              >
                SEARCH NOW
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
